#navbar {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #2a2a2a;
}

.navbar_logo {
    display:flex;
    align-items:center;
    margin-right:auto;
    margin-left:20px;
}

.home, .how-it-works, .about {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding:12px 20px;
    display: flex;
    transition: all 0.3s ease;
}


#navbar a:hover {
    background-color: #333;
    height: 50%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1A1A1A;
}

.hero-section {
    height: 650px;
    background-image: url("Hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#hero-tab {
    width: 50%;
    height: 550px;
    background-color: #1a1a1ad3;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    display: flex;
    flex-direction: column;
}

#hero-tab h1 , #hero-tab p {
    margin-top: 50px;
    margin-left: 50px;
}

#hero-tab h1 {
    font-size: 50px;
    font-weight: bold;
}

#hero-tab button {
    width: 200px;
    height: 50px;
    background-color:white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    margin-left: 280px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#hero-tab button:hover {
    background-color: #333;
    color: white;
    font-weight: bold;
}

.hero-features h3 {
    margin : 0;
}
.hero-features p , .hero-features li{
    margin-top : 35px;
    margin-left : 20px;
}

/* Input Section */

#input-section {
    width: 100%;
    min-height: 1050px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-card {
    height: 930px;
    width: 78%;
    background-color: #1a1a1a;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    gap : 12px;
}

.input-card h1 {
    font-size: 50px;
    margin-top: 50px;
    align-self: center;
}

.input-form {
    font-size: 30px;
    margin-left: 60px; 
}

#weight {
    display: block;
    width: 75%;
    margin: 25px auto;
    padding: 15px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.level-btns button , .Fitness-btn button , .exercise-btn button{
    margin:30px auto;
    margin-left: 70px;
    padding: 10px;
    width: 300px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.level-btns button:hover , .Fitness-btn button:hover, .exercise-btn button:hover {
    background-color: #1a1a1a;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#beginner {
    background-color: #4CAF50;
    color: white;
    transition: all 0.3s ease;
}
#intermediate {
    background-color: #c87d0c;
    color: white;
    transition: all 0.3s ease;
}
#expert {
    background-color: #F44336;
    color: white;
    transition: all 0.3s ease;
}

#beginner:hover {
    background-color: #06ec11;
    transform:translateY(+2px);
}

#intermediate:hover {
    background-color: #f89808;
    transform:translateY(+2px);
}

#expert:hover {
    background-color: red;
    transform:translateY(+2px);
}


#generate-btn {
    width: 300px;
    height: 50px;
    background-color:white;
    align-self: center;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#generate-btn:hover {
    background-color: #333;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.active {
    box-shadow: 0px 4px 8px;
    transform:translateY(+2px);
}

/* Result Section */

#results-section {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.muscle {
    display : flex;
    flex-direction : row;
    gap: 5rem ;
}

#results-section h1 {
    color : white;
    font-size : 5rem;
    margin-bottom : 2rem;
}

.card {
    height : 25rem;
    width : 23rem;
    background-color: #1A1A1A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h4 {
    margin-top: 4rem;
    font-size: 1.8rem;
    color : white;
    margin-bottom: 6rem;
}

.card h3 {
    color : white;
    font-size : 1.5rem;
    margin-bottom : 1rem;
}

#set , #rep {
    display :flex;
}